:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}

header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

header .logo{
    color: var(--vermelho);
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    margin: 0 30px 0 5px;
}

header nav a{
    text-decoration:none;
    color: white;
    font-weight: 700;
    font-size: 15px;
    margin-right: 10px;
    font-family: Helvetica;
}


header nav a:hover{
    color:#fff;
}

footer{
    width: 100%;
    height: 75px;
    background: #fff;
    margin-top: 30px;
}

.containerFooter{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerFooter img{
    width: 35px;
    height: 35px;
    margin-right: 5px
}

.containerFooter p{
    color: var(--preta);
    font-size: 15px;
    margin-right: 10px;
    font-weight: bold;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('../img/background.jpg');

    min-height: 90vh;
    background-size:cover;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 15px;
    margin-top: 15px;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgb(255, 255, 255);
    border:none;
    color: black;
    border-radius: 8px;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;
    font-weight: bolder;

    cursor: pointer;
    transition: .3s ease all;
}

.info{
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.botao:hover{
    background-color: black;
    color: white;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 30px;
}

.filme-principal .container{
    width: 70%;
}

.imgTitulo{
    width: 100%;
    margin-top: 10%;
}
.imgTitulo img{
    width: 400px;
    margin-left: -5px;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
    border-radius: 8px;
}


.carrosel-filmes{
    margin: 20px 30px 0px 30px;
}

.carrosel-filmes h1{
    font-size: 20px;
    margin-bottom: 10px;
}

.owl-nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hidden {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
}

.scroll {
    background: var(--preta);
    transition: all 0.3s ease-in-out;   
}
.header{
    transition: all 0.3s ease-in-out;
}
















